.slideInLeft {
    animation: slideInLeftAnimation 1s forwards;
  }
  
  @keyframes slideInLeftAnimation {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .slide-in-right {
    animation: slideInRightAnimation 0.5s ease-in-out forwards;
  }
  
  @keyframes slideInRightAnimation {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
